<div class="personal-info">
    <h1>Personal Information</h1>
    <div class="info-container">
        <div class="show-info">
            <div>
                <h4>Full name</h4>
                <p>{{user.full_name}}</p>
            </div>
            <button>edit</button>
        </div>
        <div class="edit-info"></div>
    </div>
    <div class="info-container">
        <div class="show-info">
            <div>
                <h4>email</h4>
                <p>{{user.email}}</p>
            </div>
            <button>edit</button>
        </div>
        <div class="edit-info"></div>
    </div>
    <div class="info-container">
        <div class="show-info">
            <div>
                <h4>Phone number</h4>
                <p>{% if user.phone_number %}
                    {{ user.phone_number }}
                {% else %}
                    Not set
                {% endif %}</p>
            </div>
            <button>edit</button>
        </div>
        <div class="edit-info"></div>
    </div>
    <div class="info-container">
        <div class="show-info">
            <div>
                <h4>Date of birth</h4>
                <p>{% if user.birthday %}
                    {{ user.birthday}}
                    {% else %}
                    Not set
                    {% endif %}
                </p>
            </div>
            <button>edit</button>
        </div>
        <div class="edit-info"></div>
    </div>
    <div class="info-container">
        <div class="show-info">
            <div>
                <h4>Home town</h4>
                <p>{% if user.home_town %}
                    {{user.home_town}}
                    {% else %}
                    Not set
                    {% endif %}
                </p>
            </div>
            <button>edit</button>
        </div>
        <div class="edit-info"></div>
    </div>
</div>