<div class="navigation">
    {% load static %}
    <div class="profile-update">
        <img class="user-profile" src="{% static 'user.png' %}" alt="Profile Picture">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" id="file" name="file" required>
            <input id="update-picture" type="submit" value="Update">
        </form>
    </div>
    <div class="navigation-div">
        <i class="fa-regular fa-user"></i>
        <a href="/userProfile?tab=personal"><p>Personal information</p></a>
    </div>
    <div class="navigation-div">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        <a href="/userProfile?tab=login"><p>Login information</p></a>
    </div>
    <div class="navigation-div">
        <i class="fa-regular fa-credit-card"></i>
        <a href="/userProfile?tab=payment"><p>Payment details</p></a>
    </div>
    <div class="navigation-div">
        <i class="fa-solid fa-gear"></i>
        <a href="/userProfile?tab=settings"><p>Site settings</p></a>
    </div>
</div>