.personal-info{
    width: 1000px;
    padding: 10px;
}
.personal-info h1{
    font-size: 2rem;
}
.personal-info .info-container{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-top: 15px;
}
.show-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.show-info button{
    background-color: transparent;
    border: transparent;
    font-weight: 700;
    cursor: pointer;
}
.show-info h4{
    font-weight: 700;
    font-size: 1.3rem;
}
.show-info p{
    font-weight: 600;
    margin-top: 8px;
}