{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products.css' %}">
<link rel="stylesheet" href="{% static 'nav.css' %}">
{% endblock %}

{% block content %}
<div class="sort-by">
    <h1>New Arrivals</h1>
    <div>
        <div>
            <p>sort by</p>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div>
            <p>filter by</p>
            <i class="fa-solid fa-sliders"></i>
        </div>
    </div>
</div>
<div class="product-container">
    {% for product in newArrivals %}
    <div class="Product">
        <img src="{{product.img}}">
        <p class="product-name">{{product.name}}</p>
        <p class="product-price">${{product.price}}.00</p>
        <button>Shop Now</button>
    </div>
    {% endfor %}
</div>
{% endblock %}
